/* Global styles */
#app {
  min-height: 100vh;
}

.ant-layout-sider-zero-width-trigger {
  display: none;
}

.ant-card {
  border-radius: 24px;
}

.ant-card-hoverable {
  cursor: auto;
}

.drawer-handle {
  position: absolute;
  top: 72px;
  width: 41px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  right: -40px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 4px 4px 0;
}

.list-enter-active,
.list-leave-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.list-enter {
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

@media (min-width: 769px) {
  .drawer-handle {
    display: none;
  }
}

@media (max-width: 768px) {
  .ant-card-head-wrapper {
    flex-direction: column;
  }

  .ant-card-head-title {
    width: 100%;
  }

  .ant-card-head-title .ant-input-search {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .ant-statistic {
    margin-left: 30px !important;
  }

  .ant-statistic .ant-statistic-content {
    font-size: 24px !important;
  }

  .ant-form-item {
    width: 100%;
  }

  .ant-form-item .ant-input,
  .ant-form-item .ant-select {
    width: 100% !important;
  }
}
