#app {
    height: 100%;
}

.ant-layout-sider-zero-width-trigger {
    display: none;
}

.ant-card {
    border-radius: 16px;
}

.ant-card-hoverable {
    cursor: auto;
}

.drawer-handle {
    position: absolute;
    top: 72px;
    width: 41px;
    height: 40px;
    cursor: pointer;
    z-index: 0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    right: -40px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 0 4px 4px 0;
}

@media (min-width: 769px) {
    .drawer-handle {
        display: none;
    }
}

.list-enter-active, .list-leave-active {
    -webkit-transition: all .3s;
    transition: all .3s
}

.list-enter {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
}